/* STYLE SECTIONING TAGS */
body {
 background-color: lightcyan; 
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 color: black;
}

/* STYLE TEXT */

h1 {
  color: navy;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */
